@charset "utf-8";
/*
 * Page name
 * Copyright 2023
 * Author
 * Licensed
*/
/* ---------------------- *\
    Content
\* ---------------------- */
/**
 * Content ........... You are reading it!
 * Globel ........... Set common styles
 * Layout ........... Set grid styles
 * Component ........... Set component styles
**/

/* ---------------------- *\
    Globel
\* ---------------------- */
*{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


/* ---------------------- *\
    Layout
\* ---------------------- */

.container{
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 16px;
    /* border: 1px solid #333; */
}
.row{
    display: flex;
    margin: 0 -8px;
}
.col-3{
    width: 510px;
    height: 530px;
    border: 1px solid red;
    
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,
.col-lg-5,.col-lg-6,.col-lg-8,.col-lg-12{
    padding-left: 8px;
    padding-right: 8px;
}
.col-lg-1{
    width: 8.333333%;
}
.col-lg-2{
    width: 16.666666%;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
    width: 33.333333%;
}
.col-lg-5{
    width: 41.666666%;
}
.col-lg-6{
    width: 50%;
}
.col-lg-8{
    width: 66.666666%;
}
.col-lg-12{
    width: 100%;
}
.mt12{
    margin-top: 12px;
}
.mt16{
    margin-top: 16px;
}
.mt24{
    margin-top: 24px;
}
.ml16{
    margin-left: 16px;
}
.mb16{
    margin-bottom: 16px;
}
/* ---------------------- *\
    Component
\* ---------------------- */

/* navbar 區塊1 */
.navbar{
    height: 38px;
    /* border: 1px solid blue; */
    background: rgb(152, 3, 3);
}
.navbar .nav-left{
    float: left;
}
.navbar .nav-right{
    float: right;
}
.navbar .nav-item{
    display: inline-block;
}
.navbar .nav-link{
    color: rgb(232, 230, 227);
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
}
.navbar .nav-left .nav-link{
    padding-right: 16px;
}
.navbar .nav-right .nav-link{
    padding-left: 12px;
}
.navbar .nav-right .black:before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 3px;
    transform: translate(0,-50%);
}


/* navbar 區塊2 */

.navbar2{
    height: 90px;
    background: rgb(237, 27, 27);
}
.nav-bar{
    height: 90px;
    display: flex;
    padding-top: 15px;
    /* align-items: center; */
}
.navbar2 .nav-bar-logo{
    height: 45px;
}
.navbar2 .nav-bar .logo{
    font-size: 20px;
    font-style: italic;
    color: #fff;
    padding-right: 60px;
}
.navbar2 .nav-bar .search{
    /* border: 1px solid #000; */
    height: 45px;
    border-radius: 10px;
    background-color: #fff;
}
.navbar2 .nav-bar .search form{
    display: flex;
}
.navbar2 .nav-bar .search input[type="text"]{
    width: 506px;
    height: 23px;
    /* padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 12px; */
    margin-top: 12px;
    margin-right: 80px;
    margin-bottom: 10px;
    margin-left: 12px;
    border: none;
}
.navbar2 .nav-bar .search .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(237, 27, 27);
    color: #fff;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 3px;
    border-radius: 5px;
}

/* navbar 區塊3 */
.navbar3{
    background: rgb(237, 27, 27);
    padding-top: 15px;
    padding-bottom: 8px;
}
.nav3{
    padding-left: 15px;
}
.navbar3 .nav3-li{
    display: inline-block;
    padding-right: 25px;
}
.navbar3 .nav3-li a{
    color: #fff;
    font-weight: bolder;
}
.navbar3 .nav3-li::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
}

/* main 左邊廣告 */
.side-ad{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.side-ad-head{
    background-color: #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    width: 188px;
    height: 193px;
}
.side-ad-head .img{
    display: inline-block;
    vertical-align: middle;
    /* width: 100%; */
}
.side-ad-body{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    bottom: -2px;
    box-shadow: 0 4px 0 rgba(43, 43, 43, .1);
    display: flex;
    left: 0;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    width: 188px;
}
.side-ad-body-logo{
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    flex-shrink: 0;
    height: 47px;
    width: 47px;
    margin-right: 8px;
    overflow: hidden;
}
.side-ad-body-logo img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.side-ad-body-info{
    margin-right: 17px;
}
.side-ad-body-info .ad-title,
.side-ad-body-info .ad-subtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.side-ad-body-info .ad-title{
    font-weight: 700;
}
.side-ad-body-info .ad-subtitle{
    font-size: 14px;
    font-weight: 400;
}


/* main 中間 */
.banner{
    border-radius: 8px;
    height: 302px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slide img{
    width: 100%;
    
    border-radius: 5px;
}
.ad-discount{
    height: 98px;
    /* justify-content: space-between; */

}
.ad-discount-list{
    display: flex;
    height: 100%;
    width: 810px;
    /* justify-content: center; */
    /* border: 1px solid blue; */
}
.ad-discount-item{
    width: 33.333333%;
    /* margin: 0 auto; */
}
.ad-discount-link{
    border-radius: 8px;
    display: block;
    height: 100%;
    overflow: hidden;
    height: 100px;
}
.ad-discount-item .bg-img{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ad-discount-item .bg-img img{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.ad-discount-item .edit{
    padding: 8px 0 0 16px;
}
.ad-discount-item .ad-discount-title{
    font-weight: 700;
}
.ad-discount-item .ad-discount-subtitle{
    font-weight: 500;
    font-size: 14px;
}

/* main 右邊使用者卡片 */

.user-card{
    align-items: center;
    background-color: #fff;
    border: 1px solid #ea1717;
    border-radius: 8px;
    box-shadow: 0 4px 0 rgba(43, 43, 43, .1);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 21px;
    margin-top: -80px;
    padding-top: 12px;
    min-height: 498px;
    /* height: 418px; */
}
.shippingSign{
    background-color: rgb(7, 163, 247);
    height: 38px;
    left: 0;
    position: absolute;
    top: -47px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.shippingSign .signText{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    /* padding-left: 10px;
    padding-top: 7px; */
}
.shippingSign .signPrice{
    font-size: 24px;
    font-weight: 700;
    margin: 0 5px;
    vertical-align: bottom;
}
.user-card .greeting{
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 30px;
    margin-bottom: 4px;
}
.user-card-login-btn .login-btn{
    border-radius: 16px;
    padding: 5px 12px;
    width: auto;
    background-color: #f2f2f2;
    color: #0090eb;
}
.user-card .promo{
    flex: 1 1 auto;
    padding: 18px 16px;
    width: 100%;
}
.promo .promo-subtitle{
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 12px;
}
.user-card .promo li{
    padding-bottom: 20px;
    padding-left: 30px;
}
.user-card .marketing{
    border-top: 1px solid #e5e5e5;
    flex-basis: 148px;
    padding: 12px 16px;
    width: 100%;
}





/* second */
.second-side-ad{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.second-side-ad-head{
    background-color: #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    width: 188px;
    height: 248px;
}
.second-side-ad-head .img{
    display: inline-block;
    vertical-align: middle;
    /* width: 100%; */
}
.sale-left{
    border: 3px solid #333;
    border-radius: 8px;
    height: 512px;
}
.sale-right{
    border: 3px solid red;
    border-radius: 8px;
    height: 512px;
}
.sale-bar-1{
    /* border: 1px solid blue; */
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg,#171717,#4e4e4e);
}
.sale-bar-1-right{
    /* border: 1px solid blue; */
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,rgb(249, 78, 78),red);
}
.sale-bar-2{
    /* border: 1px solid green; */
    height: 290px;
}
.sale-bar-3{
    /* border: 1px solid brown; */
    height: 170px;
}
.bar-top-1{
    width: 40%;
    height: 100%;
    background-color: #f2c55397; 
}
.bar-top-1-right{
    width: 40%;
    height: 100%;
    /* background-color: #f2c55397;  */
}
.bar-top-1 .bar-top-ad-1{
    font-size: 30px;
    font-weight: 800;
    padding: 12px 0;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-top-1-right .bar-top-ad-1-right{
    font-size: 30px;
    font-weight: 800;
    padding: 12px 0;
    color: #fff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-top-2{
    width: 60%;
    color: #fff;
    font-weight: 400;
}
.bar-top-2-right{
    width: 60%;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 18px;
}
.bar-top-2 .bar-top-ad-2{
    display: inline-block;
    font-weight: 900;
    font-size: 14px;
}
.bar-top-2-right .bar-top-ad-2-right{
    display: inline-block;
    font-weight: 900;
    font-size: 14px;
}
.bar-top-2-right .time-item{
    align-items: center;
    background: rgba(0, 0, 0, .4);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    height: 31px;
    /* justify-content: center; */

    margin: 0 6px;
    padding: 5px 0 2px;
    width: 36px;
}
.colon{
    color: #000;
    font-weight: 700;
}
.bar-top-2 .bar-top-btn{
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    font-weight: 900;
    font-size: 14px;
}
.sale-bar-2 {
    height: 264px;
}
.sale-bar-2 .cd-title{
    /* border: 1px solid pink; */
    width: 140px;
    height: 30px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 8px;
}
.sale-bar-2 .cd-main{
    /* border: 1px solid pink; */
    width: 480px;
    padding: 8px 16px 16px;
    display: flex;
}
.cd-main .cd-image{
    width: 200px;
    height: 200px;
}
.cd-main .cd-text{
    flex-direction: column;
    padding-left: 15px;
}
.cd-text .prod-title{
    font-size: 18px;
    height: 54px;
    margin-top: 32px;
    margin-bottom: 22px;
    font-weight: 700;
}
.cd-text .prod-price{
    font-size: 28px;
    font-weight: 700;
    color: #ea1717;
}
.cd-text .prod-sale-price{
    color: #969696;
    font-size: 12px;
    text-decoration: line-through;
}

.sale-bar-3{
    display: flex;
}
.sale-bar-card-2{
    border-top: 3px solid #333;
    width: 50%;
    height: 100%;
}




.sale-bar-3 .sub-cd-title{
    /* border: 1px solid pink; */
    width: 140px;
    height: 30px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
}

.sale-bar-3 .sub-cd-main{
    /* border: 1px solid pink; */
    width: 240px;
    height: 115px;
    padding: 4px 8px 8px;
    display: flex;
    margin-top: 15px;
}
.sub-cd-main .sub-cd-image{
    width: 103px;
    height: 103px;
    vertical-align: bottom;
}
.sub-cd-main .sub-cd-text{
    flex-direction: column;
    padding-left: 8px;
}
.sub-cd-text .sub-prod-title{
    font-size: 14px;
    height: 63px;
    margin-bottom: 8px;
    font-weight: 700;
}
.sub-cd-text .sub-prod-price{
    font-size: 18px;
    font-weight: 700;
    color: #ea1717;
}
.sub-cd-text .sub-prod-sale-price{
    color: #969696;
    font-size: 12px;
    text-decoration: line-through;
}
.crazy-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */


    padding: 18px 32px 0;
    margin: 0 4px;
    height: 441px;
}
.crazy-item{
    /* width: 140px;
    height: 220px; */

    cursor: pointer;
    margin: 0 40px 8px 0;
    width: calc(33.333333% - 26.666666px);
}
.crazy-item:nth-of-type(3){
    margin-right: 0;
}
.crazy-item:last-child{
    margin-right: 0;
}
.crazy-item-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crazy-item-image{
    width: 118px;
    height: 118px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.crazy-info-body{
    width: 118px;
    padding: 8px 0 4px;
}
.crazy-item-title{
    font-size: 14px;
    font-weight: 900;
    display: inline-block;
    height: 21px;
    margin-bottom: 0px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.crazy-item-price{
    font-size: 18px;
    font-weight: 700;
    color: #ea1717;

    align-items: center;
    display: flex;
    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 7px;

}
.crazy-item-sale-price{
    color: #969696;
    font-size: 12px;
    text-decoration: line-through;

    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tag-list{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 12px;
}
.tag-item{
    background-color: #eee;
    height: 40px;
    padding: 10px 0;
    border-radius: 20px;
    font-weight: 900;
    text-align: center;


    width: 151px;
}
.tag-btn{
    width: 151px;
    /* height: 40px; */
    text-align: center;
    margin-top: 20px;
    /* padding-top: 20px; */
}
.tag-btn .link{
    color: #0090eb;
    font-weight: bold;  
}