@charset "utf-8";
/*
 * Page name
 * Copyright 2023
 * Author
 * Licensed
*/
/* ---------------------- *\
    Content
\* ---------------------- */
/**
 * Content ........... You are reading it!
 * Globel ........... Set common styles
 * Layout ........... Set grid styles
 * Component ........... Set component styles
**/

/* ---------------------- *\
    Globel
\* ---------------------- */
*{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


/* ---------------------- *\
    Layout
\* ---------------------- */

.container{
    width: 1256px;
    margin: 0 auto;
    padding: 0 8px;
    /* border: 1px solid #333; */
}
.row{
    display: flex;
}
.col-1{
    width: 200px;
    padding: 8px 0;
}
.col-2{
    width: 840px;
}
.col-3{
    width: 510px;
    height: 530px;
    border: 1px solid red;
    
}
/* ---------------------- *\
    Component
\* ---------------------- */
.navbar{
    height: 38px;
    /* border: 1px solid blue; */
    background: rgb(152, 3, 3);
}
.navbar .nav-left{
    float: left;
}
.navbar .nav-right{
    float: right;
}
.navbar .nav-item{
    display: inline-block;
}
.navbar .nav-link{
    color: rgb(232, 230, 227);
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
}
.navbar .nav-left .nav-link{
    padding-right: 16px;
}
.navbar .nav-right .nav-link{
    padding-left: 12px;
}
.navbar .nav-right .black:before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #000;

    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0,-50%);
}
.navbar2{
    height: 90px;
    background-color: rgb(198, 7, 7);
}
.nav-bar{
    height: 90px;
    display: flex;
    padding-top: 15px;
}
.navbar2 .nav-bar .logo{
    font-size: 32px;
    color: #fff;
    padding-right: 30px;
}
.navbar2 .nav-bar .search{
    border: 1px solid #000;
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
}
.navbar2 .nav-bar .search form{
    display: flex;
}
.navbar2 .nav-bar .search input[type="text"]{
    width: 506px;
    height: 23px;
    /* padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 12px; */
    margin-top: 12px;
    margin-right: 80px;
    margin-bottom: 10px;
    margin-left: 12px;
    border: none;
}
.navbar2 .nav-bar .search .btn{
    background: rgb(198, 7, 7);;
    color: #fff;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 3px;
    border-radius: 5px;
}
.navbar3{
    background: rgb(198, 7, 7);;
    padding-top: 15px;
    padding-bottom: 8px;
}
.navbar3 .nav3-li{
    display: inline-block;
    padding-right: 25px;
}
.navbar3 .nav3-li a{
    color: #fff;
}
.navbar3 .nav3-li::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
}
.side-ad{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.side-ad-head{
    background-color: #e5e5e5;
    border-radius: 8px;
    /* height: 200px; */
    overflow: hidden;
}
.side-ad-head .img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.side-ad-body{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    bottom: -2px;
    box-shadow: 0 4px 0 rgba(43, 43, 43, .1);
    display: flex;
    left: 0;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    width: 100%;
}
.side-ad-body-logo{
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    flex-shrink: 0;
    height: 47px;
    width: 47px;
    margin-right: 8px;
    overflow: hidden;
}
.side-ad-body-logo img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.side-ad-body-info{
    margin-right: 17px;
}
.side-ad-body-info .ad-title,
.side-ad-body-info .ad-subtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.side-ad-body-info .ad-title{
    font-weight: 700;
}
.side-ad-body-info .ad-subtitle{
    font-size: 14px;
    font-weight: 400;
}



.slide img{
    width: 100%;
    padding: 10px 5px;
}
.ad-discount-list{
    display: flex;
    height: 100%;
    /* border: 1px solid blue; */
}
.ad-discount-item{
    width: 260px;
    margin: 0 auto;
}
.ad-discount-link{
    border-radius: 8px;
    display: block;
    height: 100%;
    overflow: hidden;
    height: 98px;
}
.ad-discount-item .bg-img{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ad-discount-item .bg-img img{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.ad-discount-item .edit{
    padding: 8px 0 0 16px;
}
.ad-discount-item .ad-discount-title{
    font-weight: 700;
}
.ad-discount-item .ad-discount-subtitle{
    font-weight: 500;
    font-size: 14px;
}


.user-card{
    align-items: center;
    background-color: #fff;
    border: 1px solid #ea1717;
    border-radius: 8px;
    box-shadow: 0 4px 0 rgba(43, 43, 43, .1);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 21px;
    margin-top: -80px;
    padding-top: 12px;

    height: 500px;
}
.shippingSign{
    background-color: rgb(6, 109, 254);
    height: 47px;
    left: 0;
    position: absolute;
    top: -47px;
    width: 200px;
}
.shippingSign .signText{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    padding-top: 7px;
}
.shippingSign .signPrice{
    font-size: 24px;
    font-weight: 700;
    margin: 0 5px;
    vertical-align: bottom;
}
.user-card .greeting{
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    line-height: 30px;
    margin-bottom: 4px;
}
.user-card-login-btn .login-btn{
    border-radius: 16px;
    padding: 5px 12px;
    width: auto;
    background-color: #f2f2f2;
    color: #0090eb;
}
.user-card .promo{
    flex: 1 1 auto;
    padding: 18px 16px;
    width: 100%;
}
.promo .promo-subtitle{
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 12px;
}
.user-card .promo li{
    padding-bottom: 20px;
    padding-left: 30px;
}
.user-card .marketing{
    border-top: 1px solid #e5e5e5;
    flex-basis: 148px;
    padding: 12px 16px;
    width: 100%;
}



.hero-2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 8px;
}
.sale{
    border: 3px solid #333;
    border-radius: 8px;
}
.sale-bar-1{
    /* border: 1px solid blue; */
    width: 100%;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg,#171717,#4e4e4e);
}
.sale-bar-2{
    /* border: 1px solid green; */
    height: 290px;
}
.sale-bar-3{
    /* border: 1px solid brown; */
    height: 170px;
}
.bar-top-1{
    width: 40%;
    height: 100%;
    background-color: #f2c55397; 
}
.bar-top-1 .bar-top-ad-1{
    font-size: 30px;
    font-weight: 800;
    padding: 12px 0;
}
.bar-top-2{
    width: 60%;
    color: #fff;
    font-weight: 400;
}
.bar-top-2 .bar-top-ad-2{
    display: inline-block;
    font-weight: 900;
    font-size: 14px;
}
.bar-top-2 .bar-top-btn{
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    font-weight: 900;
    font-size: 14px;
}
.sale-bar-2 .cd-title{
    /* border: 1px solid pink; */
    width: 140px;
    height: 40px;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    font-weight: bold;
}

.sale-bar-2 .cd-main{
    /* border: 1px solid pink; */
    width: 480px;
    height: 230px;
    padding: 8px 16px 16px;
    display: flex;
    margin-top: 30px;
}
.cd-main .cd-image{
    width: 200px;
    height: 200px;
}
.cd-main .cd-text{
    flex-direction: column;
    padding-left: 15px;
}
.cd-text .prod-title{
    font-size: 18px;
    height: 54px;
    margin-bottom: 22px;
    font-weight: 700;
}
.cd-text .prod-price{
    font-size: 28px;
    font-weight: 700;
    color: #ea1717;
}
.cd-text .prod-sale-price{
    color: #969696;
    font-size: 12px;
    text-decoration: line-through;
}

.sale-bar-3{
    display: flex;
}
.sale-bar-card-2{
    border-top: 3px solid #333;
    width: 50%;
    height: 100%;
}




.sale-bar-3 .sub-cd-title{
    /* border: 1px solid pink; */
    width: 140px;
    height: 40px;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    font-weight: bold;
}

.sale-bar-3 .sub-cd-main{
    /* border: 1px solid pink; */
    width: 240px;
    height: 115px;
    padding: 4px 8px 8px;
    display: flex;
    margin-top: 15px;
}
.sub-cd-main .sub-cd-image{
    width: 100px;
    height: 100px;
}
.sub-cd-main .sub-cd-text{
    flex-direction: column;
    padding-left: 8px;
}
.sub-cd-text .sub-prod-title{
    font-size: 14px;
    height: 63px;
    margin-bottom: 8px;
    font-weight: 700;
}
.sub-cd-text .sub-prod-price{
    font-size: 18px;
    font-weight: 700;
    color: #ea1717;
}
.sub-cd-text .sub-prod-sale-price{
    color: #969696;
    font-size: 12px;
    text-decoration: line-through;
}